.Weather {
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
  border: 1px solid rgb(0, 40, 60);
  border-radius: 80px;
  font-family: "Bree Serif", serif;
  color: #ffffff;
}

.Weather ul {
  list-style: none;
}
.Weather h5,
.today {
  margin: 0px;
  padding: 0;
  font-size: 18px;
}

.Weather .firstSection {
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
  border: 1px solid rgb(26, 138, 211);
  border-radius: 80px;
  box-shadow: 0px 10px 5px rgb(26, 138, 211);
  text-align: center;
  margin: 25px 15px;
  padding-top: 15px;
}
.Weather .secondSection {
  margin: 50px 15px;
  padding-left: 15px;
  padding-right: 15px;
}
.Weather .search-engine {
  margin: 0px 40px;
}
.Weather .submit {
  border-radius: 5px;
  margin: 0px 0px;
}
.Weather form {
  margin-bottom: 40px;
}

.first {
  margin: 50px;
}
.Weather .image {
  width: 30%;
}
.Weather .btn-primary {
  padding: 3px 10px;
  margin: 0px 0px;
}
.Weather .temperature {
  font-size: 100px;
  font-weight: bold;
}
.main-information {
  border: 1px solid rgb(26, 138, 211);
  border-radius: 15px;
  margin: 0 auto;
  padding: 30px 15px;
  height: 100%;
  color: rgb(183, 177, 177);
  background: linear-gradient(
    89deg,
    rgb(21, 74, 189) 0.1%,
    rgb(26, 138, 211) 51.5%,
    rgb(72, 177, 234) 100.2%
  );
}
.Weather .unit {
  position: relative;
  margin-left: 140px;
  font-size: 26px;
  top: -110px;
}
.atmosphere {
  text-align: center;
  margin: 0 auto;
  padding-left: 0%;
  padding: 20px 0%;
  font-size: 10px;
}
.atmosphere .showImage {
  font-size: 40px;
}
.atmosphere .day {
  color: rgb(183, 177, 177);
}
.atmosphere .temp {
  font-size: 20px;
}
.atmosphere .atmo {
  font-size: 20px;
  color: #ffffff;
}
.Weather .dayTemperature {
  border: 1px solid rgb(0, 40, 60);
  border-radius: 15px;
  padding: 40px 15px;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(
    114.9deg,
    rgb(34, 34, 34) 8.3%,
    rgb(0, 40, 60) 41.6%,
    rgb(0, 143, 213) 93.4%
  );
}
